body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'FontNormal';
  src: local('FontNormal'), url(./fonts/Vazir.ttf) format('truetype');
}
@font-face {
  font-family: 'FontNormalFD';
  src: local('FontNormalFD'), url(./fonts/Vazir-FD.ttf) format('truetype');
}
@font-face {
  font-family: 'FontBold';
  src: local('FontBold'), url(./fonts/Vazir-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'FontBoldFD';
  src: local('FontBoldFD'), url(./fonts/Vazir-Bold-FD.ttf) format('truetype');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
